/* css file of signup page */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to left, #ebebeb 50%, #fff 50%);
}

/* styling header navbar */
.navbar {
    background-color: #ebebeb;
    position: absolute;
    width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#logo a {
    float: left;
    padding: 15px 0;
    text-decoration: none;
}

#logo {
    padding-left: 30px;
}

a h1 {
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 0;
    color: #000000;
    text-shadow: 3px 2px #DCDCDC;;
}

.link {
    float: right;
    padding: 10px 60px;
}

ul li {
    display: inline;
    list-style: none;
}

.navbar .link a {
    padding: 0 8px;
    color: #696969;
	text-decoration: none;
    
}

.navbar .link a:hover {
	background-color: #808080;
	color: white;
    border-radius: 2px;
    padding: 5px 10px;
}

.navbar input[type="button"] {
	padding: 5px 10px;
	margin-left: 11px;
	margin-right: 5px;
	background-color: white;
	border: 1px solid #FA8072;
	color: #696969;
	border-radius: 2px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	outline: none;
}

.navbar input[type="button"]:hover {
	background-color: #FA8072;
	color: white;
}

/* styling heading */
#head-signup h1 {
    position: absolute;
    left: 50%;
    top: 115px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* styling form */
.signup-container {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

form {
    background-color: #ffffff;
    padding: 20px 25px;
    width: auto;
    height: auto;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* styling inputs */
#name, #name1, #name2, #email, #password {
    padding: 25px 35px;
}

input[type="text"], input[type="password"] {
    padding: 10px 5px;
    width: auto;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
}

/* styling placeholder */
::placeholder {
    font-size: 14px;
    padding: 5px 0;
}

/* styling signup-button */
#signup-button {
    padding: 0 88px;
}

input[type="submit"] {
    padding: 10px 15px;
    color: #ffffff;
    font-weight: bold;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.2);
}

/* styling submit-button on hover */
input[type=submit]:hover
{
    font-weight: bold;
    color:white;
    background-color: #858585;
    border: 1px solid #858585;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.2);
}



